<div id='data-block'>

  <h1 id="pdf-header">Facebook Insights</h1>

  <p style='page-break-after:always;'></p>

  <h3>Total Likes</h3>
  <%= area_chart @all_fans, discrete: true, library: {
    xAxis: {
      labels: {
        enabled: true,
        step: 7
    }
  }}
 %>
 <%= @description_all_fans %>
 <br><br>
 <h3>Likes and Unlikes</h3>
 <%= line_chart [
   {name: "Likes", data: @page_adds},
   {name: "Unlikes", data: @page_removes.map { |key, value| [key, value*=-1]}},
   {name: "Likes net", data: @likes_net}
 ], discrete: true
 %>
 <%= @description_likes_unlikes %>

 <p style='page-break-after:always;'></p>

 <h3>Reach and Impressions</h3>
 <%= area_chart @page_impressions, discrete: true %>
 <%= @description_page_impressions %>
</div>
