<div id='data-block'>
  <h1>Facebook Insights</h1>
  <%= button_to 'Fresh up data', '/facebook/fresh_up_data', method: :get, class: 'btn btn-info' %>
  <br>
  <%= form_tag("/facebook/report.pdf", method: :get) do %>
    <%= submit_tag("Create Report", class: "btn btn-info") %>
    <h3>Total Likes</h3>
    <%= area_chart @all_fans %>
    <%= text_area_tag(:description_all_fans, "", class: "form-control", maxlength: "500", rows: 4) %>
    <h3>Likes and Unlikes</h3>
    <%= line_chart [
      {name: "Likes", data: @page_adds},
      {name: "Unlikes", data: @page_removes.map { |key, value| [key, value*=-1]}},
      {name: "Likes net", data: @likes_net}
    ]
    %>
    <%= text_area_tag(:description_likes_unlikes, "", class: "form-control", maxlength: "500", rows: 4) %>
    <h3>Page impressions</h3>
    <%= area_chart @page_impressions %>
    <%= text_area_tag(:description_page_impressions, "", class: "form-control", maxlength: "500", rows: 4) %>
  <% end %>
</div>
<footer>
  <%= @face.html_safe %></div>
</footer>
