<div class="col-sm-2">
  <%= render 'layouts/sidebar' %>
</div>
<div class="col-sm-10">
  <h3>Client Information</h3>
  <p>
    <strong>Name:</strong>
    <%= @company.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @company.description %>
  </p>

  <p>
    <strong>Lead source:</strong>
    <%= @company.lead_source %>
  </p>

  <p>
    <strong>Job types:</strong>
    <%= @company.job_types %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= link_to @company.website, @company.website, target: 'blank' %>
  </p>

  <p>
    <strong>Monthly total:</strong>
    $<%= @company.monthly_total.to_i %>
  </p>

  <p>
    <strong>Annual revenue:</strong>
    $<%= @company.monthly_total.to_i * 12 %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @company.address %>
  </p>

  <p>
    <strong>Total hours per month:</strong>
    <%= @company.total_hours %>
  </p>

  <p>
    <strong>Lost:</strong>
    <%= @company.lost %>
  </p>
  <%= link_to 'Edit Company', edit_company_path(@company), remote: true %>
  <br>
</div>
