<div class="col-sm-2">
  <%= render 'layouts/sidebar' %>
</div>
<div class="col-sm-10">
  <div class="information">
    <div class="row">
      <div class="col-sm-6">
        <h1><%= @company.name %></h1>
      </div>
      <div class="col-sm-6 text-right">
        <h1>
          Total hours:
          <%= @company.total_hours %>
        </h1>
      </div>
    </div>

    <div class="row well well-white">
      <h4>Job Information</h4>
      <div class="col-sm-4">
        <strong>Status:</strong>
        <%= get_name_of_status @company.status %>
      </div>
      <div class="col-sm-4">
        <strong>Lead source:</strong>
        <%= @company.lead_source %>
      </div>
      <div class="col-sm-4">
        <strong>Job types:</strong>
        <%= @company.job_types %>
      </div>
    </div>

    <div class="row well well-white">
      <h4>Income</h4>
      <div class="col-sm-4">
        <strong>Monthly total:</strong>
        $<%= @company.monthly_total.to_i %>
      </div>
      <div class="col-sm-4">
        <strong>One time cost:</strong>
        $<%= @company.one_time_cost.to_i %>
      </div>
      <div class="col-sm-4">
        <strong>Annual revenue:</strong>
        $<%= @company.monthly_total.to_i * 12 + @company.one_time_cost.to_i %>
      </div>
    </div>

    <div class="row well well-white">
      <h4>Company Information</h4>
      <div class="col-sm-4">
        <strong>Address:</strong>
        <%= @company.address %>
      </div>
      <div class="col-sm-4">
        <strong>Website:</strong>
        <%= link_to @company.website, url_with_protocol(@company.website), target: 'blank' %>
      </div>
      <div class="col-sm-4">
        <strong>Description:</strong>
        <div>
          <%= @company.description %>
        </div>
      </div>
    </div>

    <div class="row well well-white">
      <h4>Social Media</h4>
      <br>
      <div class="col-xs-3 text-center">
        <%= link_to '<i class="fa fa-fw fa-facebook fa-3x"></i>'.html_safe, url_with_protocol("www.facebook.com/" + check_if_id_exists(@company.social_id.facebook_id)), target: "_blank" %>
      </div>
      <div class="col-xs-3 text-center">
        <%= link_to '<i class="fa fa-fw fa-twitter fa-3x"></i>'.html_safe, url_with_protocol("www.twitter.com/"), target: "_blank" %>
      </div>
      <div class="col-xs-3 text-center">
        <%= link_to '<i class="fa fa-fw fa-linkedin fa-3x"></i>'.html_safe, url_with_protocol("www.linkedin.com/" + check_if_id_exists(@company.social_id.linkedin_id, "company/")), target: "_blank" %>
      </div>
      <div class="col-xs-3 text-center">
        <%= link_to '<i class="fa fa-fw fa-instagram fa-3x"></i>'.html_safe, url_with_protocol("www.instagram.com/"), target: "_blank" %>
      </div>
    </div>

    <div class="text-right">
      <div class="btn-group">
        <%= link_to 'Edit', edit_company_path(@company), class: "btn btn-primary", remote: true %>
        <%= link_to 'Destroy', @company, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
