<div class="col-sm-2">
  <%= render 'layouts/sidebar' %>
</div>
<div class="col-sm-10">
  <div class="row">
    <div class="container-fluid">
      <h3>Time Trackings</h3>
      <h4>Total Value:
        <%= sum_up_total_value_of_time_trackings(@time_trackings) %>$</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>User</th>
            <th>Spent Time (hours)</th>
            <th>Hourly Rate</th>
            <th>Date</th>
            <th>Total Value</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @time_trackings.each do |time_tracking| %>
          <tr>
            <td><%= link_to time_tracking.user.name, time_tracking.user, remote: true %></td>
            <td><%= time_tracking.spent_time %>h</td>
            <td><%= time_tracking.hourly_rate %>$</td>
            <td><%= time_tracking.date.strftime('%d/%m/%Y') %></td>
            <td><%= time_tracking.spent_time * time_tracking.hourly_rate %>$</td>
            <td><%= link_to 'Show', time_tracking, remote: true %></td>
            <% if current_user.admin? || current_user?(time_tracking.user) %>
            <td><%= link_to 'Edit', edit_time_tracking_path(time_tracking), remote: true %></td>
          <% else %>
            <td></td>
            <% end %>
            <% if current_user.admin? %>
            <td><%= link_to('Destroy', time_tracking, method: :delete, data: { confirm: 'Are you sure?' }) %></td>
            <% elsif current_user.admin? %>
            <td></td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to 'Add Time', new_time_tracking_path, remote: true %>
    </div>
  </div>
  <div class="row">
    <% if @company.total_hours %>
    <div class="col-sm-4">
      <h3>Time</h3>
      <%= pie_chart sum_up_total_hours_to_display(@time_trackings, @company.total_hours) %>
    </div>
    <% end %>
    <% if @company.monthly_total %>
    <div class="col-sm-4">
      <h3>Income</h3>
      <%= pie_chart get_total_values_to_display(@time_trackings, @company.monthly_total) %>
    </div>
    <% end %>
    <% if @time_trackings.count > 0 %>
    <div class="col-sm-4">
      <h3>Employees</h3>
      <%= column_chart get_spent_time_of_employees(@time_trackings) %>
    </div>
    <% end %>
  </div>
</div>

<br>
