<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>

<table class=table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Start time</th>
      <th>Post</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.type %></td>
        <td><%= post.start_time %></td>
        <td><%= post.post %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>

<br><br>
<%= month_calendar do |date| %>
  <%= date.day %>
<% end %>
