<div class="col-sm-2">
  <%= render 'layouts/sidebar' %>
</div>
<div class="col-sm-10">
  <div id="data-block">
    <h1>Google Adwords</h1>
    <%= form_tag("/google_analytics/adwords", method: :get) do %>
    <div class="form-inline">
      <div class="input-group date">
        <%= text_field_tag :since, "", "data-provide" => 'datepicker', class: "form-control" %>
        <span class="input-group-addon">
          <i class="glyphicon glyphicon-th"></i>
        </span>
      </div>
      <div class="input-group date">
        <%= text_field_tag :until, "", "data-provide" => 'datepicker', class: "form-control" %>
        <span class="input-group-addon">
          <i class="glyphicon glyphicon-th"></i>
        </span>
      </div>
      <%= submit_tag('Fresh up data', class: 'btn btn-primary') %>
    </div>
    <% end %>

    <%= form_tag("/google_analytics/adwords_report.pdf", method: :post) do %>

    <% if @adwords_clicks %>
      <h3>Clicks Overview:
        <%= @adwords_clicks.totals_for_all_results.values.first %></h3>
      <strong><%= change_color(get_change(
              @adwords_clicks.totals_for_all_results.values.first.to_f,
              @prev_adwords_clicks.rows.first.first.to_f)).html_safe %></strong>
      <%= area_chart format_campaign_and_date(@adwords_clicks.rows).map { |key, value|
        {name: key, data: value}
      }, stacked: true %>
      <%= text_area_tag(:description_adwords_clicks, "", class: "form-control", maxlength: "485", rows: 3) %>
    <% end %>

    <% if @adwords_campaigns %>
      <br>
      <% format_campaigns(@adwords_campaigns.rows).each do |key, value| %>
        <%= render 'campaign_details', name: key, values: value, prev_hash: format_campaigns(@prev_adwords_campaigns.rows) %>
        <%= text_area_tag(key, "", class: "form-control", maxlength: "485", rows: 3) %>
      <% end %>
    <% end %>
    <br><br>
    <%= submit_tag("Create Report", class: "btn btn-primary") %>
    <% end %>
    <br>
  </div>

  <footer>
    <%= @face.html_safe %>
    |
    <%= link_to 'Back to Company Page', @company %>
  </footer>
</div>
