<div id='data-block'>
  <h1 id="ga-pdf-cover">Google Analytics</h1>

  <p style='page-break-after:always;'></p>

  <h3>Page Views:
    <%= @page_views.totals_for_all_results.values.first %></h3>
  <%= area_chart format_data_to_display(@page_views.rows), discrete: true %>
  <%= @description_page_views %>

  <h3>Sessions:
    <%= @sessions.totals_for_all_results.values.first %></h3>
  <%= area_chart format_data_to_display(@sessions.rows), discrete: true %>
  <%= @description_sessions %>

  <p style='page-break-after:always;'></p>

  <h3>New and Returning Visitors</h3>
  <%= pie_chart @new_returning_visitors.rows.to_h, library: show_pie_chart_value %>
  <%= @description_new_returning_visitors %>

  <h3>Users:
    <%= @users.totals_for_all_results.values.first %></h3>
  <%= area_chart format_data_to_display(@users.rows), discrete: true %>
  <%= @description_users %>

  <p style='page-break-after:always;'></p>

  <h3>Pages / Session:
    <%= '%.2f' % @page_views_per_session.totals_for_all_results.values.first %></h3>
  <%= area_chart round_values(format_data_to_display(@page_views_per_session.rows)), discrete: true %>
  <%= @description_pages_per_session %>

  <h3>Avg. Session Duration:
    <%= '%.2f' % @avg_session_duration.totals_for_all_results.values.first %></h3>
  <%= area_chart round_values(format_data_to_display(@avg_session_duration.rows)), discrete: true %>
  <%= @description_avg_session_duration %>

  <p style='page-break-after:always;'></p>

  <h3>Bounce Rate:
    <%= '%.2f' % @bounce_rate.totals_for_all_results.values.first %></h3>
  <%= area_chart round_values(format_data_to_display(@bounce_rate.rows)), discrete: true %>
  <%= @description_bounce_rate %>

  <h3>% New Sessions:
    <%= '%.2f' % @percent_new_sessions.totals_for_all_results.values.first %></h3>
  <%= area_chart round_values(format_data_to_display(@percent_new_sessions.rows)), discrete: true %>
  <%= @description_percent_new_sessions %>

  <p style='page-break-after:always;'></p>

  <h3>Mobile Operating System</h3>
  <%= pie_chart @mobile_os.rows.to_h, library: show_pie_chart_value %>
  <%= @description_mobile_os %>

  <h3>Browsers</h3>
  <%= pie_chart @browser_sessions.rows.to_h, library: show_pie_chart_value %>
  <%= @description_browser_sessions %>

</div>
