<div class="container-fluid row">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="http://www.rocketshp.com" target="blank">
          <%= image_tag "logo-trans-white01.png", height: "30", class: "navbar-logo" %>
        </a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Menu
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Dashboard', companies_path %></li>
            <li class="divider"></li>
            <li><%= link_to 'Active Clients', companies_path(status: 1) %></li>
            <li><%= link_to 'Pipeline', companies_path(status: 2) %></li>
            <li><%= link_to 'Lost Clients', companies_path(status: 3) %></li>
            <li class="divider"></li>
            <li><%= link_to 'Users', users_path %></li>
            <li><%= link_to 'Contacts', contacts_path %></li>
            <li><%= link_to 'Time Trackings', time_trackings_path %></li>
            <li><%= link_to 'Calendar', posts_path %></li>
            <li class="divider"></li>
            <li><%= link_to 'Logout', logout_path %></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <br><br><br>
</div>
