<!DOCTYPE html>
<html>
  <head>
    <title>Rocketshp Reporter</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if logged_in? %>
    <%= render 'layouts/header' %>
    <% end %>
    <div class="container-fluid">
      <%= yield %>
    </div>
    <br><br>
    <script>
    $(document).on('page:change', init())
    </script>
  </body>
</html>
