<!DOCTYPE html>
<html>
  <head>
    <title>Rocketshp Reporter</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= Gon::Base.render_data %>
    <%= csrf_meta_tags %>
  </head>
  <body onload="init()">

    <div class="container-fluid">
      <div class="row content">
        <div class="col-sm-2 sidenav">
          <div class="fluid-container">
            <a class="navbar-brand" href="https://rocketshp.com/"><%=image_tag("logo-trans.png", alt: "Rocketshp", class: "logo")%></a>
            <br>
            <br>
            <br>
            <br>
          </div>
          <div id="collapse-group">
            <ul class="nav nav-pills nav-stacked">
              <li>
                <a class="collapse-close" data-toggle="collapse" data-target="#collapse-campaign">Campaign</a>
              </li>
              <div id="collapse-campaign" class="collapse nav nav-pills nav-stacked">
                <li class="divider-blue"></li>
                <li>
                  <a href="#dashboard">Dashboard</a>
                </li>
                <li>
                  <a href="#google-analytics">Google Analytics</a>
                </li>
                <li>
                  <a href="#site-performance">Site Performances</a>
                </li>
                <li class="divider-blue"></li>
              </div>

              <li>
                <a class="collapse-close" data-toggle="collapse" data-target="#collapse-research">Research</a>
              </li>
              <div id="collapse-research" class="collapse nav nav-pills nav-stacked">
                <li class="divider-blue"></li>
                <li>
                  <a href="#research-central">Research Central</a>
                </li>
                <li class="divider-blue"></li>
              </div>

              <li>
                <a class="collapse-close" data-toggle="collapse" data-target="#collapse-seo">SEO</a>
              </li>
              <div id="collapse-seo" class="collapse nav nav-pills nav-stacked">
                <li class="divider-blue"></li>
                <li>
                  <a href="#site-auditor">Site Auditor</a>
                </li>
                <li>
                  <a href="#rankings">Rankings</a>
                </li>
                <li class="divider-blue"></li>
              </div>

              <li>
                <a class="collapse-close" data-toggle="collapse" data-target="#collapse-social">Social</a>
              </li>
              <div id="collapse-social" class="collapse nav nav-pills nav-stacked">
                <li class="divider-blue"></li>
                <li>
                  <a href="#twitter" id="twitter-link">Twitter</a>
                </li>
                <li>
                  <a href="facebook" id="fb-link">Facebook</a>
                </li>
                <li class="divider-blue"></li>
              </div>

              <li>
                <a class="collapse-close" data-toggle="collapse" data-target="#collapse-content">Content</a>
              </li>
              <div id="collapse-content" class="collapse nav nav-pills nav-stacked">
                <li class="divider-blue"></li>
                <li>
                  <a href="#content-manager">Content Manager</a>
                </li>
                <li>
                  <a href="#wordpress">WordPress</a>
                </li>
                <li class="divider-blue"></li>
              </div>

              <li>
                <a class="collapse-close" data-toggle="collapse" data-target="#collapse-ppc">SEM</a>
              </li>
              <div id="collapse-ppc" class="collapse nav nav-pills nav-stacked">
                <li class="divider-blue"></li>
                <li>
                  <a href="#google-adwords">Google AdWords</a>
                </li>
                <li class="divider-blue"></li>
              </div>

              <li>
                <a class="collapse-close" data-toggle="collapse" data-target="#collapse-report">Report</a>
              </li>
              <div id="collapse-report" class="collapse nav nav-pills nav-stacked">
                <li class="divider-blue"></li>
                <li>
                  <a>
                    <span class="glyphicon glyphicon-file"></span>
                    Create Report</a>
                </li>
                <li class="divider-blue"></li>
              </div>
            </ul>
          </div>
          <br>
        </div>
        <br>

        <div class="col-sm-10 overflow">
          <%= yield %>
        </div>
      </div>
    </div>

  </body>
</html>
