<!DOCTYPE html>
<html>
  <head>
    <title>Rocketshp Reporter</title>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if logged_in? %>
    <%= render 'layouts/header' %>
    <% end %>
    <div class="container-fluid">

      <% if notice %>
      <div class="alert alert-info">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <p><%= notice %></p>
      </div>
      <% end %>

      <%= yield %>
    </div>
    <%= render "layouts/modal" %>
    <br><br>
    <script>
    $(document).on('page:change', init())
    </script>
  </body>
</html>
