<html>
  <head>
    <title>Report</title>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css", media: "all", "data-turbolinks-track" => true %>
    <%= wicked_pdf_stylesheet_link_tag    "application", :media => "all" %>
    <%= wicked_pdf_javascript_include_tag "application" %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
